body {
  font-family: arial, helvetica, sans-serif;
}

div.title {

}

div.navigation {
  width: 200px;
  float: left;
}

div.content {
  width: 70%;
  float: left;
}

div.clear {
  clear: both;
}

table {
}

table td {
  padding-right: 6px;
}

th {
  border-bottom: 1px solid grey;
}

.form-element {
  margin: 1em 0 1em 0;
}

label {
  font-weight: bold;
}

h1 {
  border-bottom: 1px solid grey;
}

a {
  text-decoration: none;
}

a:hover {
  text-decoration: underline;
}