body {
  font-family: arial, helvetica, sans-serif;
}

div.title {

}

div.navigation {
  width: 200px;
  float: left;
}

div.content {
  width: 70%;
  float: left;
}

div.clear {
  clear: both;
}

table {
}

table td {
  padding-right: 6px;
}

th {
  border-bottom: 1px solid grey;
}

